/* General App Styling  */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
  font-family: Arial, sans-serif;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}

/* Drum Machine Container */
#drum-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #222;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

#drum-key-bar {
  display: flex;
  flex-direction: row;
}
/* Display Box */
#display {
  width: 200px;
  height: 50px;
  background: #333;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  line-height: 50px;
  margin-bottom: 15px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.2);
}

/* Drum Pad Keys */
.drum-pad {
  width: 50px;
  height: 150px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  user-select: none;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.drum-pad:hover {
  background: #666;
}

.drum-pad:active {
  background: #888;
  transform: scale(0.95);
}
